    <div data-aos="fade" data-aos-delay="50" class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="fab fa-github"></i></a><a href="#"><i class="fab fa-telegram-plane"></i></a><a href="#"><i class="fab fa-vk"></i></a><a href="#"><i class="fab fa-google"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Index</a></li>
                <li class="list-inline-item"><a href="/post">Post</a></li>
                <li class="list-inline-item"><a href="/login">Login</a></li>
                <li class="list-inline-item"><a href="/signup">Sign Up</a></li>
            </ul>
            <p class="copyright">zhenyapaitash project. © 2020</p>
        </footer>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="/assets/js/Card-hover-affect-2.js"></script>
</body>

</html>