<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>test-blog</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<!--    <link rel="stylesheet" href="/assets/test/animate.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
<!--    <link rel="stylesheet" href="/assets/test/aos.css">-->
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><i class="far fa-comments" id="nav-logo"></i><a class="navbar-brand" data-aos="fade-down" data-aos-duration="100">my first test blog</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" data-aos="fade-down" data-aos-duration="200" href="/">Index</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-aos="fade-down" data-aos-duration="300" href="/post">Post</a></li>
                    <% if (currentUser) { %>
                        <li class="nav-item" role="presentation"><a class="nav-link" data-aos="fade-down" data-aos-duration="400" href="/post/create">Create post</a></li>
                    <% } %>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <% if (!currentUser) { %>
                        <li class="nav-item" role="presentation" id="nav-user"><a class="nav-link" data-aos="fade-down" data-aos-duration="500" href="/login">Login</a></li>
                        <li class="nav-item" role="presentation" id="nav-user"><a class="nav-link" data-aos="fade-down" data-aos-duration="700" href="/signup">Sign Up</a></li>
                    <% } else { %>
                        <li class="nav-item" role="presentation" id="nav-user"><a class="nav-link" data-aos="fade-down" data-aos-duration="500">Hello, Mr. <b><%= currentUser.username %></b></a></li>
                        <li class="nav-item" role="presentation" id="nav-user"><a class="nav-link" data-aos="fade-down" data-aos-duration="700" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <% if (error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert"><span><%= error %></span></div>
    <% } %>
    <% if(done && done.length > 0) { %>
        <div class="alert alert-success" role="alert"><span><%= done %></span></div>
    <% } %>


