<section id="jumb-top">
    <div class="container">
        <div class="jumbotron text-white jello animated">
            <h1>Welcome<% if (currentUser) { %> Mr. <b><%= currentUser.username %></b><% } %>.</h1>
            <p>Happiness remainder joy but earnestly for off. We me rent been part what. If as increasing contrasted entreaties be.</p>
            <p><a class="btn btn-outline-info" role="button" target="_blank" href="https://t.me/zhenyapaitash">Leave feedback</a></p>
        </div>
    </div>
</section>