<%- include("../partials/header") -%>
<div data-aos="fade-up" data-aos-duration="500" class="login-clean">
    <form action="/login" method="POST">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-navigate"></i></div>

<!--        <div class="form-group">-->
<!--            <input class="form-control" type="text" name="username" placeholder="Username"-->
<!--                   pattern=".{6,}" title="Username cannot be less than 6 characters" required>-->
<!--        </div>-->
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email"
                   pattern=".{6,}" title="Username cannot be less than 6 characters">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password"
                   pattern=".{6,}" title="Password cannot be less than 6 characters" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Log In</button>
        </div>

        <a class="forgot" href="#">Forgot your email or password?</a>
    </form>
</div>
<%- include("../partials/footer") -%>